<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everytime.comment.dao.CommentDAO">
	<insert id="insertComment">
		INSERT INTO `comment`
		(
			`boardId`
			, `postId`
			, `nickname`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{boardId}
			, #{postId}
			, #{nickname}
			, #{content}
			, #{anonymous}
			, NOW()
			, NOW()
		)
	</insert>

	<select id="selectCommentListByPostId" parameterType="int" resultType="com.everytime.comment.model.Comment">
		SELECT
			`id`
			, `boardId`
			, `postId`
			, `nickname`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		FROM
			`comment`
		WHERE
			`postId` = #{postId}
		ORDER BY `id` ASC
	</select>

	<select id="selectCommentCountByPostId" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`comment`
		WHERE
			`postId` = #{postId}
	</select>

	<delete id="deleteCommentByPostId">
		DELETE
		FROM `comment`
		WHERE
			`postId` = #{postId}
	</delete>
</mapper>