<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everytime.like.dao.LikeDAO">
	<insert id="insertLike" parameterType="Map">
		INSERT INTO `like`
		(
			`boardId`
			, `postId`
			, `userId`
			, `createdAt`
		)
		VALUES
		(
			#{boardId}
			, #{postId}
			, #{userId}
			, NOW()
		)
	</insert>

	<select id="existLikeByBoardIdAndPostIdAndUserId" parameterType="Map" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			`boardId` = #{boardId}
			AND `postId` = #{postId}
			AND `userId` = #{userId}
	</select>

	<delete id="deleteLikeByBoardIdAndPostIdAndUserId" parameterType="Map">
		DELETE
		FROM `like`
		WHERE
			`boardId` = #{boardId}
			AND `postId` = #{postId}
			AND `userId` = #{userId}
	</delete>

	<select id="selectLikeCountByPostId" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
	</select>
	
	<delete id="deleteLikeByPostId">
		DELETE
		FROM `like`
		WHERE
			`postId` = #{postId}
	</delete>
</mapper>