<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everytime.post.dao.PostDAO">
	<insert id="insertPost" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `post`
		(
			`boardId`
			, `nickname`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{boardId}
			, #{nickname}
			, #{subject}
			, #{content}
			, #{anonymous}
			, NOW()
			, NOW()
		)
	</insert>

	<insert id="insertImagePath" parameterType="Map">
		INSERT INTO `image_path`
		(
			`boardId`
			, `postId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		<foreach collection="imagePathList" item="item" separator=",">
        (
			#{boardId}
			, #{id}
			, #{item}
			, NOW()
			, NOW()
        )
        </foreach>
	</insert>

	<select id="selectImagePathListById" resultType="String">
		SELECT
			`imagePath`
		FROM
			`image_path`
		WHERE
			`postId` = #{id}
	</select>

	<select id="selectPostListByBoardId" resultType="com.everytime.post.model.Post">
		SELECT
			`id`
			, `boardId`
			, `nickname`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`boardId` = #{boardId}
		ORDER BY `id` DESC
	</select>

	<select id="selectRecentPostListByBoardId" resultType="com.everytime.post.model.Post">
		SELECT
			`id`
			, `boardId`
			, `nickname`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`boardId` = #{boardId}
		ORDER BY `id` DESC
		LIMIT 0, 4
	</select>

	<select id="selectPostById" resultType="com.everytime.post.model.Post">
		SELECT
			`id`
			, `boardId`
			, `nickname`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{id}
	</select>

	<select id="selectPostListByNickname" resultType="com.everytime.post.model.Post">
		SELECT
			`id`
			, `boardId`
			, `nickname`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`nickname` = #{nickname}
		ORDER BY `id` DESC
	</select>
	
	<delete id="deleteImagePathById">
		DELETE
		FROM `image_path`
		WHERE
			`postId` = #{id}
	</delete>

	<delete id="deletePostByIdAndNickname">
		DELETE
		FROM `post`
		WHERE
			`id` = #{id}
			AND `nickname` = #{nickname}
	</delete>
</mapper>