<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everytime.post.dao.PostDAO">
	<insert id="insertPost" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `post`
		(
			`boardId`
			, `userId`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{boardId}
			, #{userId}
			, #{subject}
			, #{content}
			, #{anonymous}
			, NOW()
			, NOW()
		)
	</insert>

	<insert id="insertImagePath" parameterType="Map">
		INSERT INTO `image_path`
		(
			`boardId`
			, `postId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{boardId}
			, #{id}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>

	<select id="selectImagePathById" resultType="String">
		SELECT
			`imagePath`
		FROM
			`image_path`
		WHERE
			`postId` = #{id}
	</select>

	<select id="selectPostListByBoardId" resultType="com.everytime.post.model.Post">
		SELECT
			`id`
			, `boardId`
			, `userId`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`boardId` = #{boardId}
		ORDER BY `id` DESC
	</select>

	<select id="selectPostById" resultType="com.everytime.post.model.Post">
		SELECT
			`id`
			, `boardId`
			, `userId`
			, `subject`
			, `content`
			, `anonymous`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{id}
	</select>
</mapper>