<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.everytime.user.dao.UserDAO">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			, `password`
			, `email`
			, `nickname`
			, `school`
			, `schoolId`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{email}
			, #{nickname}
			, #{school}
			, #{schoolId}
			, NOW()
			, NOW()
		)
	</insert>

	<select id="existLoginId" parameterType="string" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>

	<select id="existNickname" parameterType="string" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			`user`
		WHERE
			`nickname` = #{nickname}
	</select>

	<select id="selectUserByLoginIdAndPassword" resultType="com.everytime.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `email`
			, `nickname`
			, `school`
			, `schoolId`
			, `schoolEmail`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
	</select>
</mapper>