@charset "UTF-8";

.ps-board-title {
	width: 780px;
	height: 60px;
	border: 1px solid #d6d6d6;
	padding: 15px;
	display: flex;
}

.ps-board-title>a {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-weight: bold;
	color: #292929;
	text-decoration: none;
}

article {
	width: 780px;
	border: 1px solid #e3e3e3;
	margin-top: 5px;
}

/* 게시글 */
.ps-post {
	width: 780px;
	padding: 15px;
}

.ps-profile {
	margin-bottom: 15px;
	display: flex;
}

.ps-profile>div {
	display: flex;
	flex-direction: column;
}

.ps-profile>img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.ps-profile>div>h3 {
	max-width: 200px;
	height: 20px;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.ps-profile>div>span {
	height: 20px;
	font-size: 12px;
	color: #a6a6a6;
	line-height: 20px;
}

.ps-post>h2 {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
	color: #292929;
}

.ps-post>p {
	font-size: 14px;
	color: #444444;
	line-height: 20px;
}

.uploaded-image {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 15px;
}

.ps-post-status {
	padding: 0px;
	padding-bottom: 15px;
	list-style: none;
}

.ps-post-status>li {
	height: 20px;
	margin-right: 10px;
	background-size: 11px 11px;
	background-position: left center;
	background-repeat: no-repeat;
	float: left;
	font-size: 12px;
	line-height: 20px;
}

.ps-post-status>li.post-like-count {
	padding-left: 15px;
	background-image: url(../img/post-like-icon.png);
	color: #c62917;
}

.ps-post-status>li.post-comment-count {
	padding-left: 15px;
	background-image: url(../img/post-comment-icon.png);
	color: #0ca5af;
}

.ps-post-status>li.post-clipping-count {
	padding-left: 15px;
	background-image: url(../img/post-clipping-icon.png);
	color: #ffcc1c;
}

.ps-post-buttons {
	display: flex;
}

.ps-post-buttons>button {
	margin-right: 4px;
	padding: 0 12px 0 27px;
	border: 0px;
	border-radius: 8px;
	background-size: 11px 11px;
	background-position: left 12px center;
	background-color: #f9f9f9;
	background-repeat: no-repeat;
	font-size: 12px;
	font-weight: bold;
	color: #737373;
	line-height: 30px;
	cursor: pointer;
}

.ps-post-buttons .post-like-btn {
	background-image: url(../img/post-like-btn.png);
}

.ps-post-buttons .post-clipping-btn {
	background-image: url(../img/post-clipping-btn.png);
}

/* 댓글 */
.ps-comments {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-top: 1px solid #e3e3e3;
	padding: 15px;
}

.ps-comments>div {
	display: flex;
	justify-content: space-between;
}

.ps-comments>div>div {
	display: flex;
}

.ps-comments>div>div>img {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	margin-right: 5px;
}

.ps-comments>div>div>h3 {
	max-width: 90px;
	margin: 0;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

.ps-comments>div>ul.ps-comments-status {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
	font-size: 12px;
	color: #666;
	letter-spacing: -0.5px;
}

.ps-comments>div>ul.ps-comments-status>li {
	height: 20px;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 11px 11px;
	float: left;
	font-size: 12px;
	color: #a6a6a6;
	line-height: 20px;
	cursor: pointer;
}

.ps-comments>p {
	margin: 5px 0px 5px 0px;
	padding: 0;
	font-size: 14px;
	color: #444444;
	line-height: 20px;
}

.ps-comments>span {
	height: 20px;
	font-size: 12px;
	color: #a6a6a6;
	line-height: 20px;
}

/* 대댓글 */
.ps-comment-comment {
	margin: -5px 4px 4px 35px;
	padding: 15px;
	border: 1px solid #e3e3e3;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ps-comment-comment>div {
	display: flex;
}

.ps-comment-comment>div>img {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	margin-right: 5px;
}

.ps-comment-comment>div>h3 {
	max-width: 90px;
	height: 20px;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

.ps-comment-comment>p {
	margin: 5px 0px 5px 0px;
	padding: 0;
	font-size: 14px;
	color: #444444;
	line-height: 20px;
}

.ps-comment-comment>span {
	height: 20px;
	font-size: 12px;
	color: #a6a6a6;
	line-height: 20px;
}

.ps-comment-write {
	display: block;
	position: relative;
}

.ps-comment-write>input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border: 0;
	border-top: 1px solid #e3e3e3;
	margin: 0;
	padding: 10px 85px 10px 10px;
	background-color: #f8f8f8;
	resize: none;
	overflow: hidden;
	outline: none;
	font-size: 13px;
	color: #262626;
	line-height: 20px;
}

.ps-comment-write>ul.option {
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
}

.ps-comment-write>ul.option li {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px 40px;
	cursor: pointer;
}

.ps-comment-write>ul.option>li.comment-anonymous {
	margin-right: 5px;
	background-image: url(../img/write-anonymous-icon.png);
}

.ps-comment-write>ul.option>li.comment-anonymous.active {
	margin-right: 5px;
	background-image: url(../img/write-anonymous-active-icon.png);
}

.ps-comment-write>ul.option>li.comment-save {
	background-color: #c62917;
	background-image: url(../img/write-save-icon.png);
}

.ps-comment-comment-write {
	margin: 0 4px 4px 35px;
	border: 1px solid #e3e3e3;
	display: block;
	position: relative;
}

.ps-comment-comment-write>input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 10px 85px 10px 10px;
	background-color: #f8f8f8;
	resize: none;
	overflow: hidden;
	outline: none;
	font-size: 13px;
	color: #262626;
	line-height: 20px;
}

.ps-comment-comment-write>ul.option {
	height: 40px;
	position: absolute;
	right: 0;
	top: 0;
}

.ps-comment-comment-write>ul.option li {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px 40px;
	cursor: pointer;
}

.ps-comment-comment-write>ul.option>li.comment-comment-anonymous {
	margin-right: 5px;
	background-image: url(../img/write-anonymous-icon.png);
}

.ps-comment-comment-write>ul.option>li.comment-comment-anonymous.active
	{
	margin-right: 5px;
	background-image: url(../img/write-anonymous-active-icon.png);
}

.ps-comment-comment-write>ul.option>li.comment-comment-save {
	background-color: #c62917;
	background-image: url(../img/write-save-icon.png);
}