@charset "UTF-8";

header {
	width: 100vw;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #d6d6d6;
}

section {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

footer {
	width: 100vw;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 12px;
	color: #737373;
}